    <div class="page-container sub-wrap">
        <main class="sub-contents">
            <section class="card-container">
                <form name="form" id="form" action="/custom" method="POST">
                    <input type="text" id="name" name="custom" required>
                </form>
                <button class="btn-go-to-sub btn download-btn">                        
                    <span>다음</span>                            
                </button>
            </section>      
        </main>
    </div>