@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

.point_gradient {
  background: #b58ecc;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #b58ecc), to(#0cbaba));
  background: linear-gradient(90deg, #b58ecc 16%, #0cbaba 100%);
}

.btn_go-to-howto, .btn-go-to-sub::before {
  background: #43dec8;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #43dec8), to(#8ce9fa));
  background: linear-gradient(90deg, #43dec8 16%, #8ce9fa 100%);
}

.btn-go-to-sub, .btn::before, .dressup-btns .on:after {
  background: #c590ff;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #c590ff), to(#76ebff));
  background: linear-gradient(90deg, #c590ff 16%, #76ebff 100%);
}



.point_gradient, .vaccine_count_titleArea h5, .vaccine__count__info .first-vaccine__numbers,
.vaccine__count__info .second-vaccine__numbers,
.vaccine__count__info .third-vaccine__numbers, .main__info__maintitle, .section-title, .card-img input#name {
  font-family: "HSGaeulSenggak20";
}

.main_top, .main_howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.point_gradient {
  background: #b58ecc;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #b58ecc), to(#0cbaba));
  background: linear-gradient(90deg, #b58ecc 16%, #0cbaba 100%);
}

.btn_go-to-howto, .btn-go-to-sub::before {
  background: #43dec8;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #43dec8), to(#8ce9fa));
  background: linear-gradient(90deg, #43dec8 16%, #8ce9fa 100%);
}

.btn-go-to-sub, .btn::before, .dressup-btns .on:after {
  background: #c590ff;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #c590ff), to(#76ebff));
  background: linear-gradient(90deg, #c590ff 16%, #76ebff 100%);
}


.point_gradient, .vaccine_count_titleArea h5, .vaccine__count__info .first-vaccine__numbers,
.vaccine__count__info .second-vaccine__numbers,
.vaccine__count__info .third-vaccine__numbers, .main__info__maintitle, .section-title, .card-img input#name {
  font-family: "HSGaeulSenggak20";
}

.main_top, .main_howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: "HSGaeulSenggak20";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  color: #0c191f;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1199px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 757px) {
  html {
    font-size: 60%;
  }
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .main {
    width: 100vw;
  }
}

.point_gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s both;
  animation: tracking-in-expand 0.7s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-2 13:33:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.scale-in-tl,
.visible {
  -webkit-animation: scale-in-tl 0.35s cubic-bezier(0.83, 0, 0.17, 1) both;
  animation: scale-in-tl 0.35s cubic-bezier(0.83, 0, 0.17, 1) both;
}

@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
    visibility: visible;
  }
}

.tooltip--show {
  -webkit-animation: tooltip-show 1.5s linear both;
  animation: tooltip-show 1.5s linear both;
}

@-webkit-keyframes tooltip-show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tooltip-show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header__wrap .menu-slide {
  right: 0px;
}

.btn-go-to-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 1.8em;
  cursor: pointer;
  -webkit-box-shadow: rgba(181, 142, 204, 0.25) 0px 13px 27px -5px, rgba(181, 142, 204, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(181, 142, 204, 0.25) 0px 13px 27px -5px, rgba(181, 142, 204, 0.3) 0px 8px 16px -8px;
  font-size: 1.5rem;
  text-shadow: 0 0 7px #2d5e97;
}

.btn {
  position: relative;
  overflow: hidden;
}

.btn span {
  z-index: 1;
}

.btn:hover {
  -webkit-box-shadow: rgba(197, 144, 255, 0.25) 0px 13px 27px -5px, rgba(197, 144, 255, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(197, 144, 255, 0.25) 0px 13px 27px -5px, rgba(197, 144, 255, 0.3) 0px 8px 16px -8px;
}

.btn:hover::before {
  width: 200px;
  height: 200px;
}

.btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.download-btn {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 757px) {
  .download-btn .material-icons {
    font-size: 100%;
  }
}

.btn_urlCopy {
  position: relative;
  border: none;
  padding: 0.5rem;
  background-color: #0cbaba;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 757px) {
  .btn_urlCopy {
    padding: 0.3rem;
    font-size: 50%;
  }
}

/* 커스터마이징 버튼 */
.btn_mobile-menu {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 1em;
  margin-right: 1.5em;
}

.btn_mobile-menu .material-icons {
  color: #0c191f;
  font-size: 32px;
}

@media screen and (max-width: 1199px) {
  .btn_mobile-menu {
    display: block;
  }
}



/* 헤더 */
.main-header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1199px) {
  .main-header {
    position: relative;
  }
}

.header--fixed {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sub-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 75em;
  margin: 2em auto;
}

@media screen and (max-width: 1199px) {
  .sub-contents {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.dressup-btns {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .dressup-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.dressup-btns > li {
  position: relative;
  width: 4.375rem;
  height: 4.375rem;
  background-color: white;
  border-radius: 50%;
  border: dashed 3px #dbdbdb;
  margin-bottom: 2rem;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .dressup-btns > li {
    margin: 1rem;
  }
}

@media screen and (max-width: 757px) {
  .dressup-btns > li {
    margin: 0.5rem;
  }
}

.dressup-btns > li > .material-icons {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 36px;
  color: gray;
}

@media screen and (max-width: 757px) {
  .dressup-btns > li > .material-icons {
    font-size: 24px;
  }
}

.dressup-btns .on {
  border: none;
}

.dressup-btns .on > .material-icons {
  font-size: 42px;
  color: #0c191f;
}

@media screen and (max-width: 757px) {
  .dressup-btns .on > .material-icons {
    font-size: 30px;
  }
}

.dressup-btns .on:after {
  position: absolute;
  z-index: -1;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sns_link {
  justify-self: flex-end;
}

@media screen and (max-width: 1199px) {
  .sns_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sns_link > li {
  margin-bottom: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sns_link > li a {
  opacity: 0.5;
}

.sns_link > li:last-child {
  position: relative;
}

.sns_link > li:hover > a {
  opacity: 1;
}

@media screen and (max-width: 1199px) {
  .sns_link > li {
    margin: 1rem;
  }
}

@media screen and (max-width: 757px) {
  .sns_link > li {
    margin: 0.7rem;
  }
}

@media screen and (max-width: 757px) {
  .sns_link > li img {
    width: 80%;
  }
}

.sns_link__copyurl {
  position: absolute;
  left: -50%;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 757px) {
  .sns_link__copyurl {
    left: -100%;
  }
}

.sns_link__copyurl .urlInput {
  padding: 0.5rem;
}

@media screen and (max-width: 757px) {
  .sns_link__copyurl .urlInput {
    width: 30%;
    padding: 0.3rem;
    font-size: 50%;
  }
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: -120%;
  right: -25%;
  width: 100px;
  padding: 7px;
  font-size: 14px;
  text-align: center;
  color: white;
  background: #333333;
  border: 0px solid white;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}

.tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  top: 90%;
  left: 40px;
}

.urlInput-show {
  display: block;
}

.chara__custom__wrap {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 5;
  left: 10%;
}

.chara__custom {
  position: relative;
  width: 8.75rem;
  height: 12.5rem;
  background-color: white;
  border: 2px solid #c590ff;
  border-radius: 1em;
}

.chara__custom .chara__custom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  width: 100%;
  border-bottom: 1px solid #c590ff;
}

.chara__custom .chara__custom__info .material-icons {
  cursor: pointer;
}

.chara__custom .chara__custom__img {
  position: relative;
  width: 80%;
  height: 55%;
  border: 1px solid #76ebff;
  border-radius: 1rem;
  margin: 1.5rem auto;
  overflow: hidden;
}

.chara__custom .chara__custom__img img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.chara__custom .chara__custom__btn {
  border: none;
  position: absolute;
  background: #c590ff;
  padding: 0.7em 0em;
  border-radius: 0 1rem 1rem 0;
  top: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  cursor: pointer;
}

.chara__custom .chara__custom__btn .material-icons {
  color: white;
  font-size: 36px;
}

@media screen and (max-width: 480px) {
  .chara__custom .chara__custom__btn .material-icons {
    font-size: 24px;
  }
}

.chara__custom .chara__custom__btn:hover {
  background-color: #902aff;
}

.chara__custom .custom--next {
  left: 100%;
}

.chara__custom .custom--prev {
  right: 100%;
  border-radius: 0.6rem 0 0 0.6rem;
}

#hair {
  top: 5%;
}

@media screen and (max-width: 1199px) {
  #hair {
    top: 10%;
    left: 20%;
  }
}

#shoes {
  top: 30%;
}

@media screen and (max-width: 1199px) {
  #shoes {
    top: 10%;
    left: 30%;
  }
}

#back {
  top: 40%;
}

@media screen and (max-width: 1199px) {
  #back {
    top: 10%;
    left: 40%;
  }
} */

#cloth {
  top: 25%;
}

@media screen and (max-width: 1199px) {
  #cloth {
    top: 10%;
    left: 50%;
  }
}

#bottom {
  top: 45%;
}

@media screen and (max-width: 1199px) {
  #bottom {
    top: 10%;
    left: 60%;
  }
}

/* 배경 */ 
.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.card-container .btn {
  margin-top: 2em;
}

@media screen and (max-width: 1199px) {
  .card-container {
    margin: 3rem 0;
  }
}

.card-img {
  width: 50rem;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .card-img {
    width: 90%;
    font-size: 90%;
  }
}

.card-img img {
  width: 40%;
}


/* 캐릭터 1,2 크기 및 위치 */

.character__area {
  width: 70%;
  height: 30%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 20%;
}

.character__area2 {
  width: 70%;
  height: 30%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 70%;
}
.character__area img {
  position: absolute;
}
.character__area2 img {
  position: absolute;
}


.character__area img.chara_back {
  z-index: 2;
}
.character__area2 img.chara_back {
  z-index: 2;
}
.character__area img.chara_base{
  z-index: 3;
}

.character__area2 img.chara_base {
  z-index: 3;
}
.character__area img.chara_cloth {
  z-index: 4;
}
.character__area2 img.chara_cloth {
  z-index: 4;
}
.character__area img.chara_bottom {
  z-index: 4;
}
.character__area2 img.chara_bottom {
  z-index: 4;
}

.character__area img.chara_hair {
  z-index: 4;
}
.character__area2 img.chara_hair {
  z-index: 4;
}
.character__area img.chara_shoes {
  z-index: 4;
}
.character__area2 img.chara_shoes {
  z-index: 4;
}
