/* 
The comments here attempt to explain the implementations of spritesheet animations in Danger Crew.
We'll utilize a dynamic "pixel size" which will allow us to upscale the pixel art in even multiplications.
EX: if an asset is designed as a 10px by 10px square, we can multiply by pixel size of 4 to enlarge the asset to 40px by 40px. This value can be adjusted per screen real estate. 
*/

:root {
	--pixel-size: 6; /* Try playing with this value! */
  }
  
  
  /* 
	 Allow pixel art images and canvas tags to scale up without losing quality
  */
  .PixelArtImage {
		image-rendering: -moz-crisp-edges;
		image-rendering: -webkit-crisp-edges;
		-ms-interpolation-mode: nearest-neighbor;
			image-rendering: pixelated;
		image-rendering: crisp-edges;
  }
  
  
  
  /* 
	  This is the square crop of the character, each frame designed at natural size 32x32. 
	  Multiplied by dynamic pixel size.
  */
  .Character {
	  width: calc(var(--pixel-size) * 32px);
	  height: calc(var(--pixel-size) * 32px);
	  overflow: hidden;
	  position: relative;
	  margin: calc(var(--pixel-size) * 6px) auto;
  }
  .Character_shadow {
	  width: calc(var(--pixel-size) * 32px);
	  height: calc(var(--pixel-size) * 32px);
	  opacity: 0.25;
	  position: absolute;
  }
  
  /* Set up a CSS Animation to move our spritesheet to the LEFT. */
  @-webkit-keyframes walkAnimation {
	from {
	  transform: translate3d(0%,0%,0);
	}
	to {
	  transform: translate3d(-100%,0%,0);
	}
  }
  
  @keyframes walkAnimation {
	from {
	  transform: translate3d(0%,0%,0);
	}
	to {
	  transform: translate3d(-100%,0%,0);
	}
  }
  
  
  /* 
	  One spritesheet containing layout of 4 by 4 frames, each designed at 32x32.
	  Total width = 128px multiplied by dynamic pixel size.
	  The visible part is cropped out via .Character's overflow:hidden rule. This image lives *inside* the .Character container.
  */
  .walk {
	  -webkit-animation: walkAnimation 1.5s steps(4) infinite;
	  animation: walkAnimation 1.5s steps(4) infinite; 
	  display: block;
  }
  
  
  /* 악세사리 */
  .Character_sprite-sheet_accessory.walk {
	  width: calc(var(--pixel-size) * 128px);
	  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
			  animation: walkAnimation 1.5s steps(4) infinite;  */
	 /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
	  position: absolute;
	  top:0;
	  left:0;
	 
	  display: none; /* For the sake of this demo, JS will control which character spritesheet is visible */
  }
  .Character_sprite-sheet_accessory.active_accessory.walk {
	  display: block;
  }
  
  /* 몸통 */
  .Character_sprite-sheet_base.walk {
	  width: calc(var(--pixel-size) * 128px);
	  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
			  animation: walkAnimation 1.5s steps(4) infinite;  */
	 /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
	  position: absolute;
	  top:0;
	  left:0;
	 
	  display: none; /* For the sake of this demo, JS will control which character spritesheet is visible */
  }
  .Character_sprite-sheet_base.active_base.walk {
	  display: block;
  }
  
  /* 헤어 */
  .Character_sprite-sheet_hair.walk {
	  
	  width: calc(var(--pixel-size) * 128px);
	  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
			  animation: walkAnimation 1.5s steps(4) infinite;  */
	 /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
	  position: absolute;
	  top:0;
	  left:0;
	  display: none; /* For the sake of this demo, JS will control which character spritesheet is visible */
  }
  .Character_sprite-sheet_hair.active_hair.walk {
	  display: block;
	  
  }
  
  /* 옷 */
  .Character_sprite-sheet_cloth.walk {
	  
	  width: calc(var(--pixel-size) * 128px);
	  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
			  animation: walkAnimation 1.5s steps(4) infinite;  */
	 /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
	  position: absolute;
	  top:0;
	  left:0;
	  display: none; /* For the sake of this demo, JS will control which character spritesheet is visible */
  }
  .Character_sprite-sheet_cloth.active_cloth.walk {
	  display: block;
	  
  }
  
  /* 바지 */
  .Character_sprite-sheet_bottom.walk {
	  width: calc(var(--pixel-size) * 128px);
	  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
			  animation: walkAnimation 1.5s steps(4) infinite;  */
	 /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
	  position: absolute;
	  top:0;
	  left:0;
	  display: none; /* For the sake of this demo, JS will control which character spritesheet is visible */
  }
  
  .Character_sprite-sheet_bottom.active_bottom.walk {
	  display: block;
  }
  
  /* 신발 */
  .Character_sprite-sheet_shoes.walk {
	  width: calc(var(--pixel-size) * 128px);
	  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
			  animation: walkAnimation 1.5s steps(4) infinite;  */
	 /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
	  position: absolute;
	  top:0;
	  left:0;
	  display: none; /* For the sake of this demo, JS will control which character spritesheet is visible */
  }
  
  .Character_sprite-sheet_shoes.active_shoes.walk {
	  display: block;
  }
  
  
  
  
  /* 
	  Set up classes that change the y position of underlying spritesheet.
	  Spritesheet is designed with this layout:
		  D1 D2 D3 D4
		  R1 R2 R3 R4 (32px away from top)
		  U1 U2 U3 U4 (64px away from top)
		  L1 L2 L3 L4 (96px away from top)
	 EX: https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/WalkingDemo-HANK-2-SHEET.png
  */
  
  /* 베이스*/
  .Character--walk-down .Character_sprite-sheet_base{
	  top: 0;
  }
  .Character--walk-down .Character_sprite-sheet_accessory{
	  top: 0;
  }
  .Character--walk-down .Character_sprite-sheet_hair{
	  top: 0;
  }
  .Character--walk-down .Character_sprite-sheet_cloth{
	  top: 0;
  }
  .Character--walk-down .Character_sprite-sheet_bottom{
	  top: 0;
  }
  .Character--walk-down .Character_sprite-sheet_shoes{
	  top: 0;
  }
  
  
  /* 춤 */
  .Character--walk-right .Character_sprite-sheet_base{
	  top: calc(var(--pixel-size) * -32px);
  }
  .Character--walk-right .Character_sprite-sheet_accessory{
	  top: calc(var(--pixel-size) * -32px);
	  
  }
  .Character--walk-right .Character_sprite-sheet_hair{
	  top: calc(var(--pixel-size) * -32px);
  }
  .Character--walk-right .Character_sprite-sheet_cloth{
	  top: calc(var(--pixel-size) * -32px);
  }
  .Character--walk-right .Character_sprite-sheet_bottom{
	  top: calc(var(--pixel-size) * -32px);
  }
  .Character--walk-right .Character_sprite-sheet_shoes{
	  top: calc(var(--pixel-size) * -32px);
  }
  
  
  /* 걷기 */
  .Character--walk-up .Character_sprite-sheet_base{ 
	  top: calc(var(--pixel-size) * -64px);
  }
  .Character--walk-up .Character_sprite-sheet_accessory{ 
	  top: calc(var(--pixel-size) * -64px);
  }
  .Character--walk-up .Character_sprite-sheet_hair{ 
	  top: calc(var(--pixel-size) * -64px);
  }
  .Character--walk-up .Character_sprite-sheet_cloth{ 
	  top: calc(var(--pixel-size) * -64px);
  }
  .Character--walk-up .Character_sprite-sheet_bottom{ 
	  top: calc(var(--pixel-size) * -64px);
  }
  .Character--walk-up .Character_sprite-sheet_shoes{ 
	  top: calc(var(--pixel-size) * -64px);
  }
  
  
  /* 미정 */
  .Character--walk-left .Character_sprite-sheet_base{
	  top: calc(var(--pixel-size) * -96px);
  }
  .Character--walk-left .Character_sprite-sheet_accessory{
	  top: calc(var(--pixel-size) * -96px);
  }
  .Character--walk-left .Character_sprite-sheet_hair{
	  top: calc(var(--pixel-size) * -96px);
  }
  .Character--walk-left .Character_sprite-sheet_cloth{
	  top: calc(var(--pixel-size) * -96px);
  }
  .Character--walk-left .Character_sprite-sheet_bottom{
	  top: calc(var(--pixel-size) * -96px);
  }
  .Character--walk-left .Character_sprite-sheet_shoes{
	  top: calc(var(--pixel-size) * -96px);
  }
  
  
  /* Demo UI Stuff ------------------------------------------------- */
  * {
	  box-sizing: border-box;
  }
  body {
	  margin: 0;
	  padding: 0;
	  /* background-image: linear-gradient(180deg, #eaeaea 0%, #eaeaea 100%); */
	  height: 100%;
		 min-height: 100vh;
	  padding-top: calc(var(--pixel-size) * 18px);
	  font-family: 'Dosis', sans-serif;
  }
  .Container {
	  max-width: calc(var(--pixel-size) * 100px);
	  margin: 0 auto;
  }
  .TitleImage {
	  width: calc(var(--pixel-size) * 95px);
	  display: block;
	  margin: auto;
	  margin-top: -70px;
  }
  .NavigationBubble {
	  -webkit-appearance: none;
	  width: calc(var(--pixel-size) * 3px);
	  height: calc(var(--pixel-size) * 3px);
	  background: #2497cc;
	  border: 0;
	  outline: 0;
	  cursor: pointer;
	  padding:0;
	  margin-left: 0.5em;
	  margin-right: 0.5em;
	  box-sizing:content-box;
  }
  .NavigationBubble:hover:not(.active) {
	  opacity: 0.9;
  }
  .NavigationBubble.active {
	  background: #fff;
  }
  .NextSpritesheetButton {
	  -webkit-appearance: none;
	  border:0;
	  background:none;
	  padding: 1em;
	  position: absolute;
	  top: 50%;
  }
  
  /* 악세사리 버튼 */
  .NextSpritesheetButton--prev--accessory {
	  top: -10%;
		left: 80%;
  }
  .NextSpritesheetButton--next--accessory {
	  top: -10%;
		right: 0;
  }
  
  /* 머리 버튼 */
  .NextSpritesheetButton--prev--hair {
	  top: 10%;
		left: 0;
  }
  .NextSpritesheetButton--next--hair {
	  top: 10%;
		right: 0;
  }
  
  /* 옷 버튼 */
  .NextSpritesheetButton--prev--cloth {
	top: 30%;
	  left: 0;
  }
  .NextSpritesheetButton--next--cloth {
	top: 30%;
	  right: 0;
  }
  
  /* 바지 버튼 */
  .NextSpritesheetButton--prev--bottom {
	top: 50%;
	  left: 0;
  }
  .NextSpritesheetButton--next--bottom {
	  top:50%;
	right: 0;
  }
  
  /* 신발 버튼 */
  .NextSpritesheetButton--prev--shoes {
	  top: 70%;
		left: 0;
	}
  .NextSpritesheetButton--next--shoes {
		top:70%;
	  right: 0;
	}
  
  
  .NextSpritesheetButton:hover {
	  cursor: pointer;
	  background: rgba(255,255,255,0.2);
  }
  .NextSpritesheetButton:focus {
	  outline:none;
  }
  .NextSpritesheetButton svg {
	  display: block;
	  width: calc(var(--pixel-size) * 4px);
  }
  .DirectionArrow {
	  background: none;
	  outline: 0;
	  border: 0;
	  cursor: pointer;
  }
  .DirectionArrow svg {
	  display: block;
	  width: calc(var(--pixel-size) * 13px);
  }
  .DirectionArrow--active .Arrow_outline-top { stroke: #5268ec; }
  .DirectionArrow--active .Arrow_surface { stroke: #639bff; }
  .DirectionArrow--active .Arrow_outline-bottom { stroke: #164496; }
  .DirectionArrow--active .Arrow_edge { stroke: #7baaff; }
  .DirectionArrow--active .Arrow_front { stroke: #4c8bfd }
  .DirectionArrow--active .Arrow_arrow-inset { stroke: #fff; }
  .DirectionArrow--active .Arrow_arrow-body { stroke: #fff; }
  .SpritesheetSlider {
	  position: relative;
	  margin-bottom: calc(var(--pixel-size) * 30px);	
  }
  .flex-center {
  
	  display:flex;
	  justify-content: center;
  }
  
  .btn {
	  width: 60px
  }
  
  .acc {
	  top: -20%;
	  left: 82%;
	  width: 90px;
  
  }

  .cap {
	  display: none;
  }

  .capImg_hair {
	position: absolute;
	top:0;
	left:0;
	  display: block;
  }

  .result {
	width: 2000px;
	height: 2000px;
	overflow: hidden;
	position: relative;
}

.card-container{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
	width: 100%;
  }
  
  
  
  /* 이름 입력 */
  .form-input {
	  position: relative;
	font-size: larger;
	text-align: center;
	  font-weight: 600;
	width: 350px;
	  height: 45px;
	margin: 30px 30px 30px 0px;
	box-shadow: 0 -3px 0 #35363a, 0 3px 0 #35363a, 3px 0 0 #35363a,-3px 0 0 #35363a;
	  outline: none;
  }
  
  /* Chagne Border */
  .form-input.border-dashed {
	  border: 2px solid rgba(0, 0, 0, .15);
	  background: rgba(0, 0, 0, .1);
  }
  .form-input.border-dashed:focus {
	  border: 3px dashed #999;
	box-shadow: none;
	font-weight: 100;
	  background: #fff;
	  border-color: #4285F4;
  }
  
  
  /* 버튼 */
  .new-btn{
	display: flex;
	font-size: medium;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #35363a;
	height: 43px;
	width: 60px;
	box-shadow: 0 -3px 0 #35363a, 0 3px 0 #35363a, 3px 0 0 #35363a,-3px 0 0 #35363a;
  }
  
  .new-btn:hover {
	cursor: pointer;
	color: #fff;
	  background-color: #4285F4;
  }